html, body {
  background-color: #FAFAFA;
  margin: 0px;
  height: 100%;
  width: 100%;
}

header, .mdl-layout__drawer-button {
  position: fixed;
  top: 0px;
}

.cardContainer {
  margin: 0px auto;
  width: 60vw;
}

.cardContainer .mdl-card {
  padding: 0px 18px 12px 18px;
}

.cardContainer .mdl-card.click {
  cursor: pointer;
}

.colContainer {
  margin: 0px;
  width: 100%;
}

.colContainer h1, .colContainer h5 {
  margin: 0px;
}

.cardContainer p {
  margin-top: 24px;
}

.colContainer .mdl-cell {
  text-align: center;
}

.headerSpacer {
  height: 72px;
}

.postDate {
  opacity: 0.54;
}

.subTitle {
  margin-top: 0px;
}

.titleSub, .postDate {
  margin-bottom: 0px;
}

div#loading {
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  height: 100%;
  left: 0px;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 15;
}

#loading #innerLoading {
  display: table-cell;
  height: 100%;
  text-align: middle;
  vertical-align: middle;
  width: 100%;
  z-index: 15;
}

#loading #innerLoading .mdl-spinner {
  color: #FFFFFF;
}

#sideMenu {
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 15px;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .mdl-layout__drawer-button {
    margin: 4px;
    color: rgb(255, 255, 255);
  }
  .mdl-layout__header {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
}

@media screen and (max-width: 840px) {
  .cardContainer {
    width: 96vw;
  }
}
